@font-face {
  font-family: 'Raleway-regular';
  src: url(font/Raleway-Regular.woff);
  src: url(font/Raleway-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

#bloc_page {
  width: 1440px;
  margin: auto;
  font-family: 'Raleway-Regular' , Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  color: black;
}

#logo_nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px;
}

#logo_nav img {
  width: 90px;
  height: auto;
}

#logo_nav nav ul {
  list-style: none;
  display: flex;
}

#logo_nav nav li {
  margin-right: 55px;
}

#logo_nav nav a {
  font-size: 0.9em;
  text-decoration: none;
  color: black;
}

#logo_nav nav a:hover {
  color: #0065FC;
  border-top: 3px #0065FC solid;

}

#logo_nav .s_inscrire {
  color: #0065FC;
}

#presentation {
  margin: 20px;
  margin-top: 30px;
}

#presentation h1 {
  font-size: 1.1em;
  font-weight: bold;

}

#presentation p {
  font-size: 0.8em;
}

#barre_de_recherche {
  display: flex;

}

#barre_de_recherche img {
  width: 13px;
  margin: 6px;
}

#barre_de_recherche form {
  margin: 6px;
}














.icon_filtre {
  width: 20px;
  height: 20px;
}





