/* -- Body -- */

@font-face {
  font-family: 'Raleway-regular';
  src: url(font/Raleway-Regular.woff);
  src: url(font/Raleway-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #0065FC;
  --seconder: #DEEBFF;
  --background: #FFFFFF;
  --inactive: #f2f2f2;
}

#bloc_page {
  
  margin: 0 4% 0 4%;
  font-family: 'Raleway-Regular' , Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background) ;
  color: black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

/* -- Header Logo et Nav -- */

#logo_nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#logo_nav img {
  width: 92px;
  height: auto;
}

#logo_nav nav ul {
  display: flex;
}
.header li{
  padding: 0 1.2rem;
}

#logo_nav nav li {
  margin-right: 60px;
}

#logo_nav nav a {
  font-size: 15px;
}

#logo_nav nav a:hover {
  color: var(--primary);
  border-top: 3px var(--primary) solid;
}

header strong {
  color: var(--primary);
}

/* -- Présentation et Barre de recherche -- */


h1 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 32px;
}

p {
  font-size: 14px;
  margin-top: -7px;
}

#searchbar {
  height: 50px;
  width:366px ;
  background-color: var(--inactive);
  border-radius: 15px;
  margin-top: 22px;
}

#searchbar img {
  float: left;
  height: 50px;
  width: 13px;
  padding: 0px 17px 0px 17px;
}

#searchbar .champ {
  height: 46px;
  width: 180px;
  font-weight: bold;
  font-family: 'Raleway-Regular';
  font-size: 16px;
  padding-left: 15px;
  border: none;
}

#searchbar .bouton {
  background-color: var(--primary);
  color: var(--background);
  height: 50px;
  width: 120px;
  font-weight: bold;
  font-family: 'Raleway-Regular';
  font-size: 16px;
  border:none;
  border-radius: 0px 15px 15px 0px;
  margin-left: -3px;
}

/* -- Filtres -- */

#filtres {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  width: auto;
  font-weight: bold;
  margin-top: 12px;
}

#filtres p {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-top: 10px;
  margin-right: -40px;
}

#filtres li {
  display: inline-block;
  align-items: center;
  margin-left: 35px;
}

#filtres a {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 25px;
  width: 100%;
  border: 2px solid var(--inactive);
  padding: 8px 8px 8px 0px;
  border-radius: 100px 100px 100px 100px;
}

.nav_filtres i {
  height: 20px;
  width: 20px;
  font-size: 17px;
  text-align: center;
  background-color: var(--seconder);
  padding: 12px;
  border-radius: 100px;
  margin: 0px 10px 0px -10px;
  color: var(--primary);
}

#info {
  font-weight: normal;
  margin-top: 15px;
}

#info p { 
  padding-top: 6px;
  margin-left: 36px;
}

#info i {
  float: left;
  height: 11px;
  width: 11px;
  font-size: 11px;
  padding: 6px;
  border: 1px solid var(--inactive);
  border-radius: 100px;
  color: var(--primary);
  text-align: center;
}

/* -- Section Hebergements à Marseille -- */

.hebergements {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 2em;
}

.hebergements_marseille {
  display: flex;
  justify-content: space-between;
  background-color: var(--inactive);
  flex-wrap: wrap;
  width: 68%;
  padding: 0 1.2em 0 1.2em;
  border-radius: 25px;
}

.hebergements_marseille h2 {
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  margin: 1.3em 0 0.7em 0.8em;
}

.afficher_plus {
  font-size: 1.1em;
  font-weight: bold;
  margin: 1em 0 2em 0.8em;
}

.hebergements_populaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--inactive);
  flex-wrap: wrap;
  max-width: 29%;
  padding: 0 2em 0 2em;
  border-radius: 25px;
  margin-left: 2em;
}

.hebergement_carte {
  background-color: var(--background);
  max-width: 28%;
  margin: 1em;
  padding: 0.3em;
  cursor:pointer; 
  transition: all 0.2s  ease-in-out;
  border-radius: 20px;
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 15%);
}

.hebergement_carte_img {
  height: 7em;
  width: 100%;
  max-width: 100%;
  border-radius: 20px 20px 0px 0px ;
  object-fit: cover;
}

.hebergement_title {
  padding: 0;
  margin: 0.2em 0 0 0.5em;
  font-size: 1.1em;
}

.hebergement_description {
  padding: 0;
  margin: 0.5em 0 0 0.5em;
  font-size: 1em;
}

.star_icon {
  padding: 0;
  margin: 0.4em 0 0.5em 0.5em;
  color: var(--primary);
}

.hebergements_populaire h2 {
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  margin: 1.3em 0 0.7em 0.8em;
} 

.hebergement_carte_populaire {
  background-color: var(--background);
  max-width: 100%;
  width: 30em;
  margin-bottom: 1em;
  padding: 0.3em;
  cursor:pointer; 
  transition: all 0.2s  ease-in-out;
  border-radius: 20px;
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 15%);
}

.hebergement_carte_populaire_img {
  float: left;
  height: 8em;
  width: 7em;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;

}







/*
.section_hebergement {
  background-color: #F2F2F2;
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.section_hebergement h1 {
  font-size: 19px;
}

.section_hebergement h6 {
  font-size: 15px;
}

.section_hebergement p {
  font-size: 13px;
}

.hebergement_carte {
  display: flex;
  justify-content: space-between;
}

.hebergement_link {
  display: block;
  height: 150px;
  width: 250px;
  background-color: white;
  border-radius: 25px;
}

 .hebergement_1 {
  display: flex;
  height: 150px;
  width: 250px;
  background-color: white;
  border-radius: 25px;
}

.hebergement_2 {
  display: flex;
  height: 150px;
  width: 250px;
  background-color: white;
  border-radius: 25px;
}

.hebergement_3 {
  display: flex;
  height: 150px;
  width: 250px;
  background-color: white;
  border-radius: 25px;
} */





